[submodule "spirl/rl/envs/pytorch-a2c-ppo-acktr-gail"]
	path = spirl/rl/envs/pytorch-a2c-ppo-acktr-gail
	url = git@github.com:dweeptrivedi/pytorch-a2c-ppo-acktr-gail.git
[submodule "d4rl"]
	path = d4rl
	url = git@github.com:kpertsch/d4rl.git
